body{background-color: #adbccd;}

.log{
  top: 0;
  left: 0;
  position: fixed;
  border: none;
}


.nav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #0f1225;
  overflow-x: hidden;
}
.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 21px;
  color: #eadbd4;
  display: block;
}
.nav a:hover {
  background-color: #eadbd4;
  color: #0f1225;
}
.bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  left: 40px;
}
.bottom button{
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #eadbd4;
  color: #0f1225;
  margin-bottom: 5px;
  font-weight: bold;
}


.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80px;
  padding: 5px 10px;
  border-bottom: 2px solid white;
}
.header t{
  font-size: 45px;
  color: #0f1225;
}
.header t2{
  font-size: 25px;
  color: #0f1225;
  display: block;
}


#homepage {
  margin-left: 160px;
  padding: 0px 10px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px;
  font-size: 18px;
}

.sust{
  float: left;
  padding: 0px 10px 0px 0px;
}
.sust a{
  font-size: 22px;
  color: #0f1225;
}

.trab {
  border-left: 2px solid white;
  padding: 0px 10px;
}
.trab a{
  font-size: 22px;
  color: #0f1225;
}

.cont{
  border-left: 2px solid white;
  padding: 0px 10px;
}
.cont a{
  font-size: 22px;
  color: #0f1225;
}

#definicao, 
#pilares, 
#nacoesUnidas,
#pais,
#campus,
#tecnologia,
#projetos,
#ideias,
#login,
#createUser,
#main,
#main2,
#createComment {
  margin-left: 160px;
  padding: 0 15px 10px;
  font-size: 20px;
  display: none;
}
.p1{
  margin-top: 10px;
}
.p2 {
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
}
.p3 {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#nacoesUnidas .p1{
  display: flex;
}
#nacoesUnidas .p2,
#pais .p2,
#tecnologia .p2{
  display: flex;
  padding: 5px 0px 10px 0px;
  justify-content: center;
  align-items: center;
}
#pais .p1{
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.exemplos{
  display: flex;
}
#ideias .p1{
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#login2 {
  background-color: #0f1225;
  width: 15%;
  padding: 20px;
  border-top: 20px;
  display: flex;
  flex-direction: column;
  color: #eadbd4;
  border-radius: 10px;
}
#login2 input[type='password'],
#login2 input[type='email'],
#login2 textarea {
  margin-bottom: 10px;
  width: 100%;
}

#addUser {
  margin-top: 10px;
  margin-bottom: 5px;
}
#main button {
  background-color: #eadbd4 ;
  color: #0f1225;
  width: 180px;
  height: 30px;
  border-radius: 10px;
}
#users {
  background-color: #0f1225;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  padding: 20px;
  border-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#users input[type='text'],
#users input[type='email'],
#users textarea {
  margin-bottom: 10px;
  width: 100%;
}
table {
  border: 3px solid #eadbd4;
  background-color: #0f1225;
  width: 1500px;
  text-align: center;
  color: #eadbd4;
}
table tbody td {
  font-size: 16px;
}
table thead {
  background: #0f1225;
  border-bottom: 2px solid #eadbd4;
}
table thead th {
  font-size: 20px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  border-left: 2px solid #eadbd4;
}
table tfoot td {
  font-size: 16px;
}
#addUser{
  background-color: #0f1225;
  color: #eadbd4;
  padding: 1px 0 25px 35px;
  margin: auto;
  border-radius: 10px;
  margin-top: 5px;
  width: 35%;
}
#addUser input{
  width: 90%;
}

#respond {
  background-color: #0f1225;
  width: 32%;
  margin: auto;
  margin-top: 10px;
  padding: 0 20px 20px;
  border-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eadbd4;
  border-radius: 10px;
}
#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
  margin-bottom: 10px;
  width: 100%;
}

.img {
  padding: 5px 10px;
}

.footer {
  margin-left: 160px;
  padding: 0px 10px;
  font-size: 12px;
}
.footer a{
  font-size: 16px;
}
